<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demande-mat-etab-heading"
        data-cy="DemandeMatEtabCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.demandeMatEtab.home.createOrEditLabel"
      >
        Create or edit a Demande Mat Etab
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.demandeMatEtab.objet" for="field_objet">Objet</label>
          <input type="text" class="form-control" name="objet" id="field_objet" data-cy="objet" formControlName="objet" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.demandeMatEtab.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.demandeMatEtab.dateDemande" for="field_dateDemande"
            >Date Demande</label
          >
          <div class="input-group">
            <input
              id="field_dateDemande"
              data-cy="dateDemande"
              type="text"
              class="form-control"
              name="dateDemande"
              ngbDatepicker
              #dateDemandeDp="ngbDatepicker"
              formControlName="dateDemande"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDemandeDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.demandeMatEtab.etablissement" for="field_etablissement"
            >Etablissement</label
          >
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                etablissementOption.id === editForm.get('etablissement')!.value?.id
                  ? editForm.get('etablissement')!.value
                  : etablissementOption
              "
              *ngFor="let etablissementOption of etablissementsCollection; trackBy: trackEtablissementById"
            >
              {{ etablissementOption.nomEtab }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
