<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-departement-heading"
        data-cy="DepartementCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.departement.home.createOrEditLabel"
      >
        Create or edit a Departement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.departement.nomDep" for="field_nomDep">Nom Dep</label>
          <select class="form-control" name="nomDep" formControlName="nomDep" id="field_nomDep" data-cy="nomDep">
            <option [ngValue]="null">{{ 'matriculeEfptBdApp.NomDep.null' | translate }}</option>
            <option *ngFor="let nomDep of nomDepValues" [value]="nomDep">{{ 'matriculeEfptBdApp.NomDep.' + nomDep | translate }}</option>
          </select>
          <div *ngIf="editForm.get('nomDep')!.invalid && (editForm.get('nomDep')!.dirty || editForm.get('nomDep')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nomDep')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.departement.region" for="field_region">Region</label>
          <select class="form-control" id="field_region" data-cy="region" name="region" formControlName="region">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="regionOption.id === editForm.get('region')!.value?.id ? editForm.get('region')!.value : regionOption"
              *ngFor="let regionOption of regionsSharedCollection; trackBy: trackRegionById"
            >
              {{ regionOption.nomReg }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
