<div>
  <h2 id="page-heading" data-cy="MatiereHeading">
    <span jhiTranslate="matriculeEfptBdApp.matiere.home.title">Matieres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.matiere.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-matiere"
        [routerLink]="['/matiere/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.matiere.home.createLabel"> Create a new Matiere </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matieres?.length === 0">
    <span jhiTranslate="matriculeEfptBdApp.matiere.home.notFound">No matieres found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matieres && matieres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomMatiere">
            <span jhiTranslate="matriculeEfptBdApp.matiere.nomMatiere">Nom Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="reference">
            <span jhiTranslate="matriculeEfptBdApp.matiere.reference">Reference</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeMatiere">
            <span jhiTranslate="matriculeEfptBdApp.matiere.typeMatiere">Type Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matriculeMatiere">
            <span jhiTranslate="matriculeEfptBdApp.matiere.matriculeMatiere">Matricule Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let matiere of matieres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matiere', matiere.id, 'view']">{{ matiere.id }}</a>
          </td>
          <td>{{ matiere.nomMatiere }}</td>
          <td>{{ matiere.reference }}</td>
          <td>{{ matiere.typeMatiere }}</td>
          <td>{{ matiere.matriculeMatiere }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/matiere', matiere.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(matiere)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
