<div>
  <h2 id="page-heading" data-cy="ImageHeading">
    <span jhiTranslate="matriculeEfptBdApp.image.home.title">Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.image.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-image"
        [routerLink]="['/image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.image.home.createLabel"> Create a new Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
    <span jhiTranslate="matriculeEfptBdApp.image.home.notFound">No images found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="images && images.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="url"><span jhiTranslate="matriculeEfptBdApp.image.url">Url</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="matiere.nomMatiere">
            <span jhiTranslate="matriculeEfptBdApp.image.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let image of images; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a>
          </td>
          <td>{{ image.url }}</td>
          <td>
            <div *ngIf="image.matiere">
              <a [routerLink]="['/matiere', image.matiere?.id, 'view']">{{ image.matiere?.nomMatiere }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/image', image.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/image', image.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(image)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
