<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-apprenant-heading"
        data-cy="ApprenantCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.apprenant.home.createOrEditLabel"
      >
        Create or edit a Apprenant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="matriculeEfptBdApp.apprenant.nomCompletApp"
            for="field_nomCompletApp"
            [ngbTooltip]="'matriculeEfptBdApp.apprenant.help.nomCompletApp' | translate"
            >Nom Complet App</label
          >
          <input
            type="text"
            class="form-control"
            name="nomCompletApp"
            id="field_nomCompletApp"
            data-cy="nomCompletApp"
            formControlName="nomCompletApp"
          />
          <div
            *ngIf="
              editForm.get('nomCompletApp')!.invalid && (editForm.get('nomCompletApp')!.dirty || editForm.get('nomCompletApp')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomCompletApp')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.dateNaissance" for="field_dateNaissance"
            >Date Naissance</label
          >
          <div class="input-group">
            <input
              id="field_dateNaissance"
              data-cy="dateNaissance"
              type="text"
              class="form-control"
              name="dateNaissance"
              ngbDatepicker
              #dateNaissanceDp="ngbDatepicker"
              formControlName="dateNaissance"
            />
            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.lieuNaissance" for="field_lieuNaissance"
            >Lieu Naissance</label
          >
          <input
            type="text"
            class="form-control"
            name="lieuNaissance"
            id="field_lieuNaissance"
            data-cy="lieuNaissance"
            formControlName="lieuNaissance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.numActeNaissance" for="field_numActeNaissance"
            >Num Acte Naissance</label
          >
          <input
            type="number"
            class="form-control"
            name="numActeNaissance"
            id="field_numActeNaissance"
            data-cy="numActeNaissance"
            formControlName="numActeNaissance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.photo" for="field_photo">Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('photo')!.value"
              alt="apprenant image"
            />
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('photo', 'photoContentType', 'file_photo')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.sexe" for="field_sexe">Sexe</label>
          <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe" data-cy="sexe">
            <option [ngValue]="null">{{ 'matriculeEfptBdApp.Sexe.null' | translate }}</option>
            <option *ngFor="let sexe of sexeValues" [value]="sexe">{{ 'matriculeEfptBdApp.Sexe.' + sexe | translate }}</option>
          </select>
          <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
          <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresse')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.statut" for="field_statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'matriculeEfptBdApp.StatutApp.null' | translate }}</option>
            <option *ngFor="let statutApp of statutAppValues" [value]="statutApp">
              {{ 'matriculeEfptBdApp.StatutApp.' + statutApp | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.situationMatrimoniale" for="field_situationMatrimoniale"
            >Situation Matrimoniale</label
          >
          <input
            type="text"
            class="form-control"
            name="situationMatrimoniale"
            id="field_situationMatrimoniale"
            data-cy="situationMatrimoniale"
            formControlName="situationMatrimoniale"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.matriculeApp" for="field_matriculeApp">Matricule App</label>
          <input
            type="text"
            class="form-control"
            name="matriculeApp"
            id="field_matriculeApp"
            data-cy="matriculeApp"
            formControlName="matriculeApp"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.nationalite" for="field_nationalite">Nationalite</label>
          <input
            type="text"
            class="form-control"
            name="nationalite"
            id="field_nationalite"
            data-cy="nationalite"
            formControlName="nationalite"
          />
          <div *ngIf="editForm.get('nationalite')!.invalid && (editForm.get('nationalite')!.dirty || editForm.get('nationalite')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nationalite')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.apprenant.demandeMatApp" for="field_demandeMatApp"
            >Demande Mat App</label
          >
          <select
            class="form-control"
            id="field_demandeMatApp"
            data-cy="demandeMatApp"
            name="demandeMatApp"
            formControlName="demandeMatApp"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                demandeMatAppOption.id === editForm.get('demandeMatApp')!.value?.id
                  ? editForm.get('demandeMatApp')!.value
                  : demandeMatAppOption
              "
              *ngFor="let demandeMatAppOption of demandeMatAppsCollection; trackBy: trackDemandeMatAppById"
            >
              {{ demandeMatAppOption.dateDemande }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
