<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-niveau-etude-heading"
        data-cy="NiveauEtudeCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.niveauEtude.home.createOrEditLabel"
      >
        Create or edit a Niveau Etude
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.niveauEtude.niveau" for="field_niveau">Niveau</label>
          <select class="form-control" name="niveau" formControlName="niveau" id="field_niveau" data-cy="niveau">
            <option [ngValue]="null">{{ 'matriculeEfptBdApp.Niveau.null' | translate }}</option>
            <option *ngFor="let niveau of niveauValues" [value]="niveau">{{ 'matriculeEfptBdApp.Niveau.' + niveau | translate }}</option>
          </select>
          <div *ngIf="editForm.get('niveau')!.invalid && (editForm.get('niveau')!.dirty || editForm.get('niveau')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('niveau')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
