<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-inscription-heading"
        data-cy="InscriptionCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.inscription.home.createOrEditLabel"
      >
        Create or edit a Inscription
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.inscription.anneeIns" for="field_anneeIns">Annee Ins</label>
          <div class="input-group">
            <input
              id="field_anneeIns"
              data-cy="anneeIns"
              type="text"
              class="form-control"
              name="anneeIns"
              ngbDatepicker
              #anneeInsDp="ngbDatepicker"
              formControlName="anneeIns"
            />
            <button type="button" class="btn btn-secondary" (click)="anneeInsDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('anneeIns')!.invalid && (editForm.get('anneeIns')!.dirty || editForm.get('anneeIns')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('anneeIns')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.inscription.apprenant" for="field_apprenant">Apprenant</label>
          <select class="form-control" id="field_apprenant" data-cy="apprenant" name="apprenant" formControlName="apprenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="apprenantOption.id === editForm.get('apprenant')!.value?.id ? editForm.get('apprenant')!.value : apprenantOption"
              *ngFor="let apprenantOption of apprenantsSharedCollection; trackBy: trackApprenantById"
            >
              {{ apprenantOption.nomCompletApp }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.inscription.classe" for="field_classe">Classe</label>
          <select class="form-control" id="field_classe" data-cy="classe" name="classe" formControlName="classe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="classeOption.id === editForm.get('classe')!.value?.id ? editForm.get('classe')!.value : classeOption"
              *ngFor="let classeOption of classesSharedCollection; trackBy: trackClasseById"
            >
              {{ classeOption.nomClasse }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
