<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="commune">
      <h2 data-cy="communeDetailsHeading"><span jhiTranslate="matriculeEfptBdApp.commune.detail.title">Commune</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ commune.id }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.commune.nomCom">Nom Com</span></dt>
        <dd>
          <span>{{ commune.nomCom }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.commune.departement">Departement</span></dt>
        <dd>
          <div *ngIf="commune.departement">
            <a [routerLink]="['/departement', commune.departement?.id, 'view']">{{ commune.departement?.nomDep }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/commune', commune.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
