<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-personnel-heading"
        data-cy="PersonnelCreateUpdateHeading"
        jhiTranslate="matriculeEfptBdApp.personnel.home.createOrEditLabel"
      >
        Create or edit a Personnel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="matriculeEfptBdApp.personnel.nomPers"
            for="field_nomPers"
            [ngbTooltip]="'matriculeEfptBdApp.personnel.help.nomPers' | translate"
            >Nom Pers</label
          >
          <input type="text" class="form-control" name="nomPers" id="field_nomPers" data-cy="nomPers" formControlName="nomPers" />
          <div *ngIf="editForm.get('nomPers')!.invalid && (editForm.get('nomPers')!.dirty || editForm.get('nomPers')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomPers')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.personnel.prenomPers" for="field_prenomPers">Prenom Pers</label>
          <input
            type="text"
            class="form-control"
            name="prenomPers"
            id="field_prenomPers"
            data-cy="prenomPers"
            formControlName="prenomPers"
          />
          <div *ngIf="editForm.get('prenomPers')!.invalid && (editForm.get('prenomPers')!.dirty || editForm.get('prenomPers')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('prenomPers')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.personnel.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.personnel.etablissement" for="field_etablissement"
            >Etablissement</label
          >
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                etablissementOption.id === editForm.get('etablissement')!.value?.id
                  ? editForm.get('etablissement')!.value
                  : etablissementOption
              "
              *ngFor="let etablissementOption of etablissementsSharedCollection; trackBy: trackEtablissementById"
            >
              {{ etablissementOption.nomEtab }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.personnel.inspection" for="field_inspection">Inspection</label>
          <select class="form-control" id="field_inspection" data-cy="inspection" name="inspection" formControlName="inspection">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                inspectionOption.id === editForm.get('inspection')!.value?.id ? editForm.get('inspection')!.value : inspectionOption
              "
              *ngFor="let inspectionOption of inspectionsSharedCollection; trackBy: trackInspectionById"
            >
              {{ inspectionOption.nomInsp }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="matriculeEfptBdApp.personnel.poste" for="field_poste">Poste</label>
          <select class="form-control" id="field_poste" data-cy="poste" name="poste" formControlName="poste">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="posteOption.id === editForm.get('poste')!.value?.id ? editForm.get('poste')!.value : posteOption"
              *ngFor="let posteOption of postesSharedCollection; trackBy: trackPosteById"
            >
              {{ posteOption.nomPoste }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
