<div>
  <h2 id="page-heading" data-cy="BonHeading">
    <span jhiTranslate="matriculeEfptBdApp.bon.home.title">Bons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.bon.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bon"
        [routerLink]="['/bon/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.bon.home.createLabel"> Create a new Bon </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bons?.length === 0">
    <span jhiTranslate="matriculeEfptBdApp.bon.home.notFound">No bons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bons && bons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantite">
            <span jhiTranslate="matriculeEfptBdApp.bon.quantite">Quantite</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="matriculeEfptBdApp.bon.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="matriculeEfptBdApp.bon.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etablissement.nomEtab">
            <span jhiTranslate="matriculeEfptBdApp.bon.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="matiere.matriculeMatiere">
            <span jhiTranslate="matriculeEfptBdApp.bon.matiere">Matiere</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let bon of bons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bon', bon.id, 'view']">{{ bon.id }}</a>
          </td>
          <td>{{ bon.quantite }}</td>
          <td>{{ bon.date | formatMediumDate }}</td>
          <td>{{ bon.description }}</td>
          <td>
            <div *ngIf="bon.etablissement">
              <a [routerLink]="['/etablissement', bon.etablissement?.id, 'view']">{{ bon.etablissement?.nomEtab }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bon.matiere">
              <a [routerLink]="['/matiere', bon.matiere?.id, 'view']">{{ bon.matiere?.matriculeMatiere }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bon', bon.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bon', bon.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
