<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="diplome">
      <h2 data-cy="diplomeDetailsHeading"><span jhiTranslate="matriculeEfptBdApp.diplome.detail.title">Diplome</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ diplome.id }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.nom">Nom</span></dt>
        <dd>
          <span jhiTranslate="{{ 'matriculeEfptBdApp.NomDiplome.' + diplome.nom }}">{{ diplome.nom }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.matriculeDiplome">Matricule Diplome</span></dt>
        <dd>
          <span>{{ diplome.matriculeDiplome }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.annee">Annee</span></dt>
        <dd>
          <span>{{ diplome.annee | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.apprenant">Apprenant</span></dt>
        <dd>
          <div *ngIf="diplome.apprenant">
            <a [routerLink]="['/apprenant', diplome.apprenant?.id, 'view']">{{ diplome.apprenant?.nomCompletApp }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.filiereEtude">Filiere Etude</span></dt>
        <dd>
          <div *ngIf="diplome.filiereEtude">
            <a [routerLink]="['/filiere-etude', diplome.filiereEtude?.id, 'view']">{{ diplome.filiereEtude?.filiere }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.serieEtude">Serie Etude</span></dt>
        <dd>
          <div *ngIf="diplome.serieEtude">
            <a [routerLink]="['/serie-etude', diplome.serieEtude?.id, 'view']">{{ diplome.serieEtude?.serie }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.diplome.niveauEtude">Niveau Etude</span></dt>
        <dd>
          <div *ngIf="diplome.niveauEtude">
            <a [routerLink]="['/niveau-etude', diplome.niveauEtude?.id, 'view']">{{ diplome.niveauEtude?.niveau }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/diplome', diplome.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
