<div>
  <h2 id="page-heading" data-cy="InspectionHeading">
    <span jhiTranslate="matriculeEfptBdApp.inspection.home.title">Inspections</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.inspection.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-inspection"
        [routerLink]="['/inspection/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.inspection.home.createLabel"> Create a new Inspection </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="inspections?.length === 0">
    <span jhiTranslate="matriculeEfptBdApp.inspection.home.notFound">No inspections found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="inspections && inspections.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomInsp">
            <span jhiTranslate="matriculeEfptBdApp.inspection.nomInsp">Nom Insp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="typeInsp">
            <span jhiTranslate="matriculeEfptBdApp.inspection.typeInsp">Type Insp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="matriculeEfptBdApp.inspection.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="matriculeEfptBdApp.inspection.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commune.nomCom">
            <span jhiTranslate="matriculeEfptBdApp.inspection.commune">Commune</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let inspection of inspections; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/inspection', inspection.id, 'view']">{{ inspection.id }}</a>
          </td>
          <td>{{ inspection.nomInsp }}</td>
          <td jhiTranslate="{{ 'matriculeEfptBdApp.TypeInspection.' + inspection.typeInsp }}">{{ inspection.typeInsp }}</td>
          <td>{{ inspection.latitude }}</td>
          <td>{{ inspection.longitude }}</td>
          <td>
            <div *ngIf="inspection.commune">
              <a [routerLink]="['/commune', inspection.commune?.id, 'view']">{{ inspection.commune?.nomCom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/inspection', inspection.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/inspection', inspection.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(inspection)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
