<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="bon">
      <h2 data-cy="bonDetailsHeading"><span jhiTranslate="matriculeEfptBdApp.bon.detail.title">Bon</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bon.id }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.bon.quantite">Quantite</span></dt>
        <dd>
          <span>{{ bon.quantite }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.bon.date">Date</span></dt>
        <dd>
          <span>{{ bon.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.bon.description">Description</span></dt>
        <dd>
          <span>{{ bon.description }}</span>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.bon.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="bon.etablissement">
            <a [routerLink]="['/etablissement', bon.etablissement?.id, 'view']">{{ bon.etablissement?.nomEtab }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="matriculeEfptBdApp.bon.matiere">Matiere</span></dt>
        <dd>
          <div *ngIf="bon.matiere">
            <a [routerLink]="['/matiere', bon.matiere?.id, 'view']">{{ bon.matiere?.matriculeMatiere }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bon', bon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
