<div>
  <h2 id="page-heading" data-cy="DemandeMatAppHeading">
    <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.home.title">Demande Mat Apps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande-mat-app"
        [routerLink]="['/demande-mat-app/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.home.createLabel"> Create a new Demande Mat App </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandeMatApps?.length === 0">
    <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.home.notFound">No demandeMatApps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandeMatApps && demandeMatApps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="objet">
            <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.objet">Objet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDemande">
            <span jhiTranslate="matriculeEfptBdApp.demandeMatApp.dateDemande">Date Demande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let demandeMatApp of demandeMatApps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande-mat-app', demandeMatApp.id, 'view']">{{ demandeMatApp.id }}</a>
          </td>
          <td>{{ demandeMatApp.objet }}</td>
          <td>{{ demandeMatApp.description }}</td>
          <td>{{ demandeMatApp.dateDemande | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande-mat-app', demandeMatApp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande-mat-app', demandeMatApp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandeMatApp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
